
<body class="body">
    <br>
    <div><h1 class="titulo">PRIMER SEMESTRE</h1></div>
    <div class="row">
        <div class="col" >
            <a routerLink="/analisis" routerLinkActive="activebutton" target="_black">   
            <img class="zoom" src="https://cdn-icons-png.flaticon.com/512/7631/7631148.png" alt="Avatar">
            <h4 class="semestre">
                <b> Análisis y diseño de sistemas</b>
            </h4>
         </a>
        </div>
        <div class="col">
            <a routerLink="/fundamentos" routerLinkActive="activebutton" target="_black">     
                <img class="zoom" src="https://cdn-icons-png.flaticon.com/512/1448/1448776.png" >
            <h4 class="semestre">
                <b> Fundamentos de programación</b>
            </h4>
        </a>
    </div>
    </div>
        
    <div class="row">
        <div class="col">
            <a routerLink="/intro-desarrollo" routerLinkActive="activebutton" target="_black"> 
                <img class="zoom" src="https://cdn-icons-png.flaticon.com/512/4368/4368389.png" >
            <h4 class="semestre">
                <b> Introducción al desarrollo de software</b>
            </h4>    
        </a>
        </div>
        <div class="col">
            <a routerLink="/mate-discreta" routerLinkActive="activebutton" target="_black"> 
            <img class="zoom" src="https://cdn.pixabay.com/photo/2016/07/11/12/16/mathematics-1509559_960_720.jpg" >
            <h4 class="semestre">
                <b> Matemática discreta </b>
            </h4>   
            </a>    
        </div>
    </div>
</body>

