<body class="body">
    <br>
    <div><h2 class="titulo">DESARROLLO DE SOFTWARE</h2></div>
    <div class="row">
        <div class="col" >
         <a routerLink="/primer" routerLinkActive="activebutton" target="_black">   
            <img class="zoom" src="https://cdn-icons-png.flaticon.com/128/8068/8068013.png" alt="Avatar">
            <h4 class="semestre">
                <b> Primer Semestre</b>
            </h4>
         </a>
        </div>
        <div class="col">
            <a routerLink="/segundo" routerLinkActive="activebutton" target="_black">     
            <img class="zoom" src="https://cdn-icons-png.flaticon.com/128/8068/8068070.png" alt="Marketing" id="marketing">
            <h4 class="semestre">
                <b> Segundo Semestre</b>
            </h4>
        </a>
        </div>
        <div class="col">
            <a routerLink="/tercero" routerLinkActive="activebutton" target="_black"> 
            <img class="zoom" src="https://cdn-icons-png.flaticon.com/128/8068/8068125.png" alt="Gastronomía">
            <h4 class="semestre">
                <b> Tercer Semestre</b>
            </h4>   
            </a>    
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a routerLink="/cuarto" routerLinkActive="activebutton" target="_black"> 
            <img class="zoom" src="https://cdn-icons-png.flaticon.com/128/8068/8068178.png" alt="modas">
            <h4 class="semestre">
                <b> Cuarto Semestre</b>
            </h4>    
        </a>
        </div>
        <div class="col">
            <a routerLink="/quinto" LinkActive="activebutton" target="_black"> 
            <img class="zoom" src="https://cdn-icons-png.flaticon.com/128/8068/8068231.png" alt="incendios">
            <h4 class="semestre">
                <b> Quinto Semestre</b>
            </h4>
            </a>
        </div>
        
    </div>
</body>