<h1 class="titulo">BACKEND DESARROLLO WEB</h1>
<div class="cards">

    <div class="card">
        <div class="container">
            <h4 class="semestre"><a routerLink="/primer" routerLinkActive="activebutton" target="_black">07. Introducción a ASP.NET (Presentación) autor SABIA.pdf</a></h4>
            <a href="../../../../assets/docs/1primerS/analisis/07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> Descargar </a>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h4 class="semestre"><a routerLink="/primer" routerLinkActive="activebutton" target="_black">08. Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara.pdf</a></h4>
            <a href="../../../../assets/docs/1primerS/analisis/08. Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara.pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> Descargar </a>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h4 class="semestre"><a routerLink="/primer" routerLinkActive="activebutton" target="_black">Ingenieria Del Software Un Enfoque Practico 7ta ed (1).pdf</a></h4>
            <a href="../../../../assets/docs/1primerS/analisis/Ingenieria Del Software Un Enfoque Practico 7ta ed (1).pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> Descargar </a>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h4 class="semestre"><a routerLink="/primer" routerLinkActive="activebutton" target="_black">ld-Analisis y Diseno de Sistemas_Kendall-8va.pdf</a></h4>
            <a href="../../../../assets/docs/1primerS/analisis/ld-Analisis y Diseno de Sistemas_Kendall-8va.pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> Descargar </a>
        </div>
    </div>
</div>



