
<div class="card-body">

    <h1 class="titulo">TÉCNICAS DE COMUNICACIÓN</h1>
    <div class="card">
        <h4 class="semestre">Introducción a ASP.NET (Presentación) autor SABIA.pdf</h4>
            <a href="../../../../assets/docs/1primerS/analisis/07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"
            download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> <button (click)="counter36()">Descargar</button> </a>
            <h2>Numero de descargas = {{ contador36}}</h2>
    </div>
    <div class="card">
                    <h4 class="semestre">Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara.pdf</h4>
            <a href="../../../../assets/docs/1primerS/analisis/08. Fundamentos de programación en Java autor Jorge Martinez Ladrón de Guevara.pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> <button (click)="counter37()">Descargar</button> </a>
                <h2>Numero de descargas = {{ contador37}}</h2>
            </div>
    <div class="card">
                    <h4 class="semestre">Ingenieria Del Software Un Enfoque Practico 7ta ed (1).pdf</h4>
            <a href="../../../../assets/docs/1primerS/analisis/Ingenieria Del Software Un Enfoque Practico 7ta ed (1).pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"> <button (click)="counter38()">Descargar</button> </a>
                <h2>Numero de descargas = {{ contador38}}</h2>
            </div>
    <div class="card">
                    <h4 class="semestre">ld-Analisis y Diseno de Sistemas_Kendall-8va.pdf</h4>
            <a href="../../../../assets/docs/1primerS/analisis/ld-Analisis y Diseno de Sistemas_Kendall-8va.pdf"
                download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf"><button (click)="counter39()">Descargar</button> </a>
                <h2>Numero de descargas = {{ contador39}}</h2>
            </div>
</div>