

<body class="body">
    <h2 class="titulo">SEGUNDO SEMESTRE</h2>
    <div class="row">
        <div class="col" >
         <a routerLink="/algebra-trigonometria" routerLinkActive="activebutton">   
            <img class="zoom" src="https://images.pexels.com/photos/6238297/pexels-photo-6238297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"  >
         <h5>Álgebra y trigonometría</h5>
        </a>   
        </div>
        <div class="col">
        <a routerLink="/analisis-matematico" routerLinkActive="activebutton">    
            <img class="zoom" src="https://images.pexels.com/photos/220301/pexels-photo-220301.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Marketing">
            <h5>Análisis matemático </h5>
        </a>
        </div>
        <div class="col">
            <a routerLink="/base-datos-relacional" routerLinkActive="activebutton">
            <img class="zoom" src="https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Gastronomía">
           <h5> Base de datos </h5>    
        </a>    
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a routerLink="/metodologias-desarrollo" routerLinkActive="activebutton">
            <img class="zoom" src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&w=600" alt="modas">
            <h5>Metodologías de desarrollo de software</h5>    
        </a>
        </div>
        <div class="col">
            <a routerLink="/programacion-orientada-obj" routerLinkActive="activebutton">
            <img class="zoom" src="https://images.pexels.com/photos/6424586/pexels-photo-6424586.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="incendios">
                <h5>Programación orientada a objetos</h5>
            </a>
        </div>
        <div class="col">
            <a routerLink="/tecnicas-comunicacion" routerLinkActive="activebutton">
            <img class="zoom" src="https://cdn.pixabay.com/photo/2014/07/01/15/40/balloon-381334_960_720.png" alt="turismo">
            <h5>Técnicas de comunicación</h5>    
        </a>
        </div>
    </div>
</body> 